@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

/* OTHER GOOD COLORS

454372
2f2963

*/

body {
    font-family: 'Caveat', sans-serif;
    color: #95a3a3;
    background-color: #f7f5ed;
}

/* HEADER & FOOTER STYLES */

#header, #footer {
    margin: 0 auto;
    max-width: 51rem;
    height: 6rem;
    background-color: #6d9093;
    box-shadow: 2px 3px 3px #00000022;
}

#footer {
    /**/
}

#header-content {
    margin: 0 auto;
    max-width: 40rem;
}

#footer-content {
    padding-left: 1em;
    padding-top: 1.4em;
    top: 0.8rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'Josefin Slab', serif;
}

#header #header-content #title {
    position: relative;
    display: inline-block; 
}

#header #header-content #title img {
    height: 6rem;
}

#header #header-content #linkbox {
    float: right;
    height: 6em;
}

#linkbox a {
    text-decoration: none;
}

#linkbox #link-text {
    display: block;
    position: relative;
    top: 0.2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    height: 3.2rem;
}

#linkbox #link-text img {
    height: 3.2rem;
}

#linkbox #link-button {
    width: 2.2rem;
    height: 2.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

/* COMMON CONTENT STYLES */
.main-content {
    max-width: 50rem;
    margin: 0 auto;
    border-right: 3px dashed #dad8d1;
    border-left: 3px dashed #dad8d1;
    padding-top: 2rem;
    padding-bottom: 100px;
}

/* PRICELIST STYLES */
#pricelist {
    /**/
}

#cards {
    /*border: 4px dashed #6d9093;/**/
}

.showcase {
    text-align: center;
    max-width: 50em;
    height: 280px;
    /*margin-bottom: 200px;*/
}

.showcase .sh-left {
    width: 40%;
    /*background-color: red; /**/
    display: inline-block; 
    text-align: right;
}

.showcase .sh-right {
    width: 40%;
    /*background-color: blue; /**/
    display: inline-block;
    text-align: left;
}

.showcase .desc {
    /*width: auto;/**/
    position: relative;
    bottom: 6.5rem;
    background-color: #e2e2e2;
    font-size: 2.5rem;
    border-radius: 0.2rem;
    z-index: -2;
}

.showcase .desc-right {
    padding-left: 3rem;
    right: 1rem;
}

.showcase .desc-left {
    padding-right: 3rem;
    left: 1rem;
}

.showcase .art {
    overflow: visible;
}

.showcase .art img {
    width: 100%;
    max-width: 220px;
    box-shadow: 2px 3px 3px #00000022;
}

/*.showcase .art-left img {
    
}

.showcase .art-right img {
    
}*/

.showcase .rot-left {
    transform:rotate(-5deg);
    behavior:url(-ms-transform.htc);  
    -moz-transform:rotate(-5deg);  
    -webkit-transform:rotate(-5deg);  
    -o-transform:rotate(-5deg);  
    -ms-transform:rotate(-5deg);
}

.showcase .rot-right {
    transform:rotate(5deg);
    behavior:url(-ms-transform.htc);  
    -moz-transform:rotate(5deg);  
    -webkit-transform:rotate(5deg);  
    -o-transform:rotate(5deg);  
    -ms-transform:rotate(5deg);
}

#pricelist #full-pricelist {
    margin: 0 auto;
    font-size: 3rem;
    width: 90%;
}

#pricelist #full-pricelist th {
    font-size: 4rem;
}

#pricelist #full-pricelist td:last-child {
    padding-left: 6rem;
    text-align: right;
}

#pricelist .separator {
    width: 16rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#pricelist .dash-line {
    border-top: 3px dashed #dad8d1;
}

@media only screen and (min-width: 1100px) {
    #footer-content { padding-left: 2.5rem; }
    .showcase .desc { font-size: 2rem; }
    #pricelist #full-pricelist { font-size: 1.5rem; width: 22rem; }
    #pricelist #full-pricelist th { font-size: 2rem; }
}